.Auth-container {
  background-image: url(./assets/images/auth-bg.png);
  background-size: cover;
}

.overlay {
  background: linear-gradient(45deg, rgba(47, 140, 96, 0.4), rgba(0, 0, 0.4));
}
.sidebar-container,
.sidebar-container .ps-sidebar-root {
  height: 100%;
}
.sidebar-container .ps-sidebar-container {
  background-color: #1f263e;
  color: #fff;
  height: 100%;
  padding: 30px 0;
  border-top-right-radius: 50px;
}

.sidebar-container .ps-sidebar-container .ps-menu-button:hover {
  background-color: rgba(0, 176, 77, 0.2);
}

.sidebar-container .ps-menuitem-root:first-child {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.sidebar-container .ps-menuitem-root:first-child a:hover {
  background-color: transparent;
}

.header-cont {
  background-image: url(./assets/images/header-bg-svg.svg);
  background-size: cover;
  color: #fff;
}

.home-container {
  background-color: #f0ffef;
}
.table img{
  width: 25px !important;
}